div { 
	border:1px solid #888; 
	/* color:#FFFFFF; */
	font-family:Arial; 
}
#showpaintoptions {
	cursor:default;
	width:23px;
	height:100%;
	position:absolute;
	top:0px;
	right:5px;
	z-index:9;
	display:block;
	background:rgba(10, 10, 10, 0.03);
}
#showpaintoptions:hover ~ #farben {
	display:block;
}
#showpaintoptions:hover ~ #pinsel {
	display:block;
}
#showpaintoptions:hover ~ #funktionen {
	display:block;
}
#showpaintoptions:hover ~ #dateifunktionen {
	display:block;
}
#farben	{ 
	cursor: default; 
	width:100px; 
	height:100px; 
	position:absolute; 
	top:023px; 
	right:023px; 
	z-index:10;
	display: none;
	background:rgba(10, 10, 10, 0.03);
}
#farben:hover{
	display:block;
}
#pinsel	{ 
	cursor: default; 
	width:100px; 
	height:100px; 
	position:absolute; 
	top:123px; 
	right:023px; 
	z-index:10;
	display:none;
	background:rgba(10, 10, 10, 0.03);
}
#pinsel:hover{
	display:block;
}
#funktionen { 
	cursor: default; 
	width:100px; 
	height:050px; 
	position:absolute; 
	top:223px; 
	right:023px; 
	z-index:10;
	display:none;
	background:rgba(10, 10, 10, 0.03);
}
#funktionen:hover{
	display:block;
}
#dateifunktionen { 
	cursor: default; 
	width:100px; 
	height:050px; 
	position:absolute; 
	top:275px; 
	right:023px; 
	z-index:10;
	display:none;
	background:rgba(10, 10, 10, 0.03);
}
#dateifunktionen:hover{
	display:block;
}
#ladebild {
	height:10px;
	font-size: 10px;
	width:100px;
	position: relative;
	top: 5px;
}
#leinwand { 
	cursor: none; 
	width:100%; 
	height:100%; 
	position:absolute; 
	top:0px; 
	right:0px; 
	z-index:0;
}

